.cart-popup {
    position: absolute;
    background: #fff;
    left: 0;
    top: 100%;
    transform: translateX(-50%);
    padding: 18px 24px;
    border-top: 3px solid var(--c-primary);
    white-space: nowrap;

}

.cart-popup > .empty-cart{
    color: var(--fc-gray);
}

.cart-content > .subtotal-container {
    display: flex;
    justify-content: space-between;
    padding-inline: 16px;
    font-size: 16px;
    color: #999999;
}

.subtotal-container > .subtotal {
    font-weight: 700;
}