.cart-item {
    padding-bottom: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #dedede;
    gap: 16px;
}

.quantity-button {
    border:none;
    color: var(--c-primary);
    background: none;
    font-size: 18px;
}

.quantity-button > .remove-icon > svg{
    fill: var(--c-primary);
    width: 12px;
}

.quantity-button:hover {
    cursor: pointer;
}

.cart-item > img {
    max-width: 96px;
}

.cart-item > .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    min-width: 130px;
}

.cart-item > .info > .name {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: left;
}

.info > .price {
    color: #999999;
    font-size: 16px;
    font-weight: 500;
}

.info > .quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info > .quantity-container > p {
    color: #999999;
}

.quantity-container > .quantity-inputs{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--c-primary);
    padding: 5px 12px;
    border-radius: 5px;
}


.quantity-container > .quantity-inputs > *{
    margin: 0;
    padding: 0;
}

.quantity-container > .quantity-inputs > input {
    border: none;
    min-height: 24px;
    width: 30px;
    text-align: center;
    color: var(--fc-black-text);
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}