:root{
  --c-primary: #eb974b;
}

@font-face {
  font-family: 'daniel black';
  src: url('./fonts/danielbk.ttf') format("truetype");
}

body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  font-family: 'PT Sans Narrow', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
