:root{
  --fc-black-text: #121619;
  --fc-gray: #999999;

  --c-primary: #fd9d3e;
  --c-secondary: #121619;
}

@font-face {
  font-family: 'daniel black';
  src: url('./fonts/danielbk.ttf') format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button{
  font-family: 'PT Sans Narrow', sans-serif;
}

button{
  font-family: 'PT Sans Narrow', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
